.container{
    padding: 15px;
}

.heading{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.poolsContainer{
    width: fit-content;
    margin: 20px auto;
}

.innerPoolsContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}


@media (min-width: 400px){
    .container{
        padding: 20px;
    }
    .heading{
        font-size: 18px;
        line-height: 27px;
    }
}

@media (min-width: 500px){
    .container{
        padding: 30px;
    }
    .heading{
        font-size: 20px;
        line-height: 30px;
    }
}

@media (min-width: 768px){
    .container{
        padding: 40px;
    }
    .heading{
        font-size: 24px;
        line-height: 36px;
    }
}

@media (min-width: 1000px){
    .innerPoolsContainer{
        grid-template-columns: 1fr 1fr;
    }
}